.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title-list {
    font-size: 28px;
    padding: 15px;
    margin: 0;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
