.item-image {
  width: 100%;
}

.item-image:hover {
  box-shadow: inset 0 0 0 5px #eae8e4;
}

.left {
  text-align: left;
}

.item-name {
  font-size: 30px;
  font-weight: bold;
}

.item-detail-code {
  text-align: left;
  padding: 0;
}

.quantity {
  width: 50px;
  text-align: center;
}

.size {
  width: 65px;

}

.label {
  padding-right: 10px;
  margin: auto 0;
}

.btn-post {
  margin-left: 10px;
}

.content-comment {
  background-color: #f2f3f5;
  padding: 5px 5px 5px 10px;
  border-radius: 3px;;
}

.row-comment {
  padding: 10px 0;
}

.detail-description {
  margin-top: 10px;
}

.fa-star {
  cursor: pointer;
}

.start1:hover {
  color: yellow;
}

.start1:hover +.start2 {
  color: yellow;
}

.start1:hover ~.start3 {
  color: yellow;
}

.start1:hover ~.start4 {
  color: yellow;
}

.start1:hover ~.start5 {
  color: yellow;
}


.start2:hover {
  color: yellow;
}

.start2:hover +.start3 {
  color: yellow;
}

.start2:hover ~.start4 {
  color: yellow;
}

.start2:hover ~.start5 {
  color: yellow;
}

.start3:hover {
  color: yellow;
}

.start3:hover +.start4 {
  color: yellow;
}

.start3:hover ~.start5 {
  color: yellow;
}

.start4:hover {
  color: yellow;
}

.start4:hover +.start5 {
  color: yellow;
}

.start5:hover {
  color: yellow;
}

.star-vote{
  padding-left: 10px;
}

.right {
  float: right;
}

.detail-price {
  text-align: left;
  font-size: 24px;
  padding-bottom: 10px;
}

.loading-img {
  background: url('../../assets/loading.gif') no-repeat;
  background-size: 15%;
}
