.stripe-btn {
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.stripe-btn span {
  box-shadow: none !important;
  font-weight: normal !important;
  background-image: none !important;
}