
.order-row {
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 5px;
}

.label-order {
  width: 130px;
  text-align: left;
}

.cancel-order {
  color: red;
  cursor: pointer;
  padding-left: 10px;
  font-size: 20px;
}

.view-order {
  color: #18096b;
  cursor: pointer;
  font-size: 20px;
}

.table-order {
  margin-top: 15px;
}

.table-order-manage tbody tr:hover {
  cursor: pointer;
  background: #ccc;
}

.reason-cancel {
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 20%;
  margin: 0 auto;
  z-index: 2;
  padding: 15px 35px;
  left: 25%;
  right: 25%;
}

.on-right {
  float: right;
}

.btn-cancel-order {
  margin-right: 10px;
}

.Canceled {
  color: red;
}

.space-white {
  min-width: 40px; 
  height: 27px;
  padding-left: 10px
}