.padding-top-30 {
  padding-top: 30px;
}

.title-type {
  font-size: 30px;
  text-decoration: underline;
  font-weight: bolder;
}

.style-img-slider {
  display: block;
  height: 100%;
  margin: auto;
  width: 100%;
}

.home-list .container {
  padding-left: 0;
}